{%extends 'base.html' %}
{%block courses%}
<div class="main">
    <a href="{% url 'home_page' %}">   < back to home page</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
<br><br>
<div><i class='fa fa-file'></i> <a href="{% url 'new_course' %}">new_course</a><br></div><br><br>
{% for i in data %}
<div class="main"><span>{{ i.name }} ( {{i.kod }} )</span>&nbsp;&nbsp;&nbsp;&nbsp;
<i class='fas fa-edit'></i><a href="{% url 'edit_course' i.id %}">edit</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<i class="fa fa-info-circle">&nbsp;</i><a href="{% url 'details_course' i.id %}">details</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<i class="fas fa-user-graduate">&nbsp;</i><a href="{% url 'students_list' i.id %}">students_list</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<i class="fa fa-trash"> </i><a href="{% url 'delete_course' i.id %}">delete</a> </div>
<br><br><br>
{%endfor%}
{%endblock%}

