{%extends 'base.html' %}
{%block mentors%}
<div class="main">
    <a href="{% url 'home_page' %}">   < back to home page</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
<br><br>
<div><i class='fa fa-file'></i> <a href="{% url 'new_mentor' %}">new_mentor</a><br></div><br><br>
{% for i in data %}
<div class="main"><span>{{ i.username }} </span>&nbsp;&nbsp;&nbsp;&nbsp;
<i class='fas fa-edit'></i><a href="{% url 'edit_mentor' i.id %}">edit</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<i class="fa fa-info-circle">&nbsp;</i><a href="{% url 'details_mentor' i.id %}">details</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<i class="fa fa-trash"> </i><a href="{% url 'delete_mentor' i.id %}">delete</a> </div>
<br><br>
{%endfor%}
{%endblock%}

