{%extends 'base.html' %}
{%block upisni_studenta%}
<div class="main">
    <a href="{% url 'home_page' %}">   < back to home page</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
<br><br>
<div class="main">
<span>Upisi({{email}})</span><br><br>
{%for i in semesters%}
<p>Semestar {{ forloop.counter }}:</p>
{%for item in i%}
{%for key,value in item.items%}
{%if value.status == 'enr' %}
<b>{{ key.name}}</b>&nbsp;&nbsp;&nbsp;&nbsp;
<i class="fa fa-check"></i> upisan
&nbsp;&nbsp;&nbsp;&nbsp; 
<a href="{% url 'ispisi_predmet' id key.id %}">ispisi se</a>
<br>
{% else %}
<b>{{ key.name}}</b>&nbsp;&nbsp;&nbsp;&nbsp;
<i class="fas fa-check-double"></i>polozen
&nbsp;&nbsp;&nbsp;&nbsp;
<a href="{% url 'ispisi_predmet' id key.id %}">ispisi se</a>
<br>
{% endif %}
{%endfor%}
{%endfor%}<br>
{%endfor%}
<p>Neupisani predmeti:</p>
{%for i in neupisani_predmeti%}
{{i.name}}<i class='fa fa-file'></i> <a href="{% url 'add_course_to_upisni' id i.id %}">upisi kolegij</a><br><br>
{%endfor%}
</div>
{%endblock%}

